<div class="app">
  <div class="app-search">
    <div class="search-box-container">
      <app-search
        (searchedData)="storeSearchedData($event)"
        (searchError)="storeSearchedError($event)"
      ></app-search>
    </div>
  </div>
  <div class="app-search-result">
    <app-search-result [Data]="searchedData"></app-search-result>
  </div>
  <div class="alert alert-danger error-alert" role="alert" *ngIf="searchError">
    {{ searchError.error.message }}!!
  </div>
  <a href="https://www.linkedin.com/in/saikathalderr/">
    <div class="saikat-img-container">
      <img src="https://tinyurl.com/vrl2x3a" class="saikat-img" />
      &nbsp;
      <span class="made-text">Made By Saikat Halder</span>
    </div>
  </a>
</div>
