:host() {
  margin: -8px;
}
.app {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(45deg, #3c3cff, #603cff);
}
.error-alert {
  position: absolute;
  top: 50px;
  right: 50px;
  text-transform: capitalize;
}

/* APP SEARCH CSS */
.app-search {
  float: left;
  position: relative;
  width: 30%;
  height: 100%;
}
.search-box-container {
  position: relative;
  padding: 70px;
  top: 50%;
  transform: translateY(-50%);
}
/* APP SEARCH RESULT CSS */
.app-search-result {
  float: right;
  position: relative;
  height: 100%;
  width: 70%;
  background: rgba(255, 255, 255, 0.95);
  box-shadow: -10px 0px 20px rgba(0, 0, 0, 0.2);
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
}

/* SAIKAT IMG */
.saikat-img-container {
  font-family: "Montserrat";
  position: fixed;
  bottom: 50px;
  right: 50px;
}
.saikat-img {
  width: 50px;
  border: 3px solid #dddddd;
  border-radius: 50%;
  box-shadow: 0px 5px 5px rgba(74, 60, 255, 0.5);
  transition: all 0.3s;
  cursor: pointer;
}
.made-text {
  font-weight: 700;
}
.saikat-img:hover {
  box-shadow: 0px 5px 5px rgba(74, 60, 255, 0.9);
}
