.search-input {
  background: rgba(255, 255, 255, 0.8);
}
.invalid-placeholder::placeholder {
  color: red;
}
.search-clear {
  background: rgba(255, 70, 70, 0.8);
  color: #fff;
}
.search-btn {
  margin-top: 10px;
  background: rgba(255, 255, 255, 0.8);
}
