<div class="input-group input-group-lg ">
  <div class="input-group-prepend cursor-pointer" (click)="getWeatherData()">
    <span class="input-group-text" id="basic-addon1">
      <i class="material-icons">
        search
      </i>
    </span>
  </div>
  <input
    type="text"
    class="form-control search-input"
    [class.is-invalid]="isSearchValueEmpty"
    [class.invalid-placeholder]="isSearchValueEmpty"
    [placeholder]="
      isSearchValueEmpty ? 'Please input a city name' : 'Search with city name'
    "
    aria-label="Search with city name"
    aria-describedby="basic-addon1"
    [(ngModel)]="searchedValue"
    (keydown.enter)="getWeatherData()"
  />
  <div
    class="input-group-append cursor-pointer"
    *ngIf="searchedValue.length > 0"
    (click)="clearSearchedValue()"
  >
    <span class="input-group-text search-clear">
      <i class="material-icons">
        clear
      </i>
    </span>
  </div>
</div>
<div class="text-center">
  <button
    type="button"
    class="btn btn-light search-btn"
    (click)="getWeatherData()"
  >
    Search
  </button>
</div>
