<div class="main">
  <div *ngIf="Data">
    <h1 class="city-name">{{ Data.name }} ,{{ Data.sys.country }}</h1>
    <h6>{{ Data.weather[0].description }}</h6>
    <div>
      <h1 class="city-temp">
        {{ Data.main.temp - 273.15 | number: "1.0-0" }}°
        <img
          src="http://openweathermap.org/img/wn/{{
            Data.weather[0].icon
          }}@2x.png"
        />
      </h1>
      <h6 class="city-extras">
        Latitude: <span class="value">{{ Data.coord.lat }}</span>
      </h6>
      <h6 class="city-extras">
        Longitude: <span class="value">{{ Data.coord.lon }}</span>
      </h6>
      <h6 class="city-extras">
        Wind speed:
        <span class="value"
          >{{ Data.wind.speed * 3.6 | number: "1.0-0" }} Kmph</span
        >
      </h6>
    </div>
  </div>
  <div *ngIf="!Data">
    <h1 class="demo-title">Try searching any city</h1>
    <h2 class="demo-sub-title">
      Type the city name in you left input box to see that place current weather
      report.
    </h2>
  </div>
</div>
