.main {
  font-family: "Montserrat";
  padding: 100px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.city-name {
  font-size: 60pt;
  font-weight: 900;
}
.city-temp {
  font-size: 50pt;
  font-weight: 500;
}
.city-extras {
  color: #b8b8b8;
}
.city-extras > .value {
  color: #a1a1a1;
  font-weight: 700;
}
.demo-title {
  font-size: 50pt;
  font-weight: 900;
}
.demo-sub-title {
  color: #a1a1a1;
}
